
{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Actions</h1>
		{% for action in cruleset.actions %}
		<div class="usercontent">
			<h2 x-text="'{{ action.name }}'"></h2>
			{% if current_user.id == cruleset.userid %}
			<div>
				<a href="{{ url_for('eprefs.duplicateAction', action=action.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Duplicate {{ action.name }}</button></a>
				<a href="{{ url_for('eprefs.editAction', action=action.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ action.name }}</button></a>
				<a href="{{ url_for('eprefs.deleteAction', action=action.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ action.name }}</button></a>
			</div>
			{% endif %}
			<p><strong><em>Time: </em></strong>{{ action.time }}</p>
			<hr>
			<div x-html="convert(`{{ action.text }}`)"></div>
		</div>
		{% endfor %}
		<div class="interior flex horizontal center">
			<a href="{{ url_for('eprefs.createAction', ruleset=cruleset.identifier) }}"><button>Create Action</button></a>
			<a href="{{ url_for('eprefs.importActions', ruleset=cruleset.identifier) }}"><button>Import from JSON</button></a>
		</div>
	</div>
</div>

{% endblock %}
