{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex" x-data="main">
    <div class="flex vertical start">
        <h1>{{ background.name }}</h1>
        <div class="usercontent" x-html="convert(`{{ background.text }}`)"></div>
        {% for feature in background.background_features %}
        <h2>{{ feature.name }}</h2>
        <div class="usercontent" x-html="convert(`{{ feature.text }}`)"></div>
        {% endfor %}
        {% if cruleset.userid == current_user.id %}
        <div class="interior flex horizontal center">
            <a href="{{ url_for('epchar.duplicateBackground', background=background.name, ruleset=cruleset.identifier) }}"><button type="button">Duplicate {{ background.name }}</button></a>
            <a href="{{ url_for('epchar.editBackground', background=background.name, ruleset=cruleset.identifier) }}"><button type="button">Edit {{ background.name }}</button></a>
            <a href="{{ url_for('epchar.deleteBackground', background=background.name, ruleset=cruleset.identifier) }}"><button type="button" class="mild danger">Delete {{ background.name }}</button></a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

