
{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/backgrounds.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		{% for background in cruleset.backgrounds %}
		<template x-init="bgROM.push(
			{
				name: '{{ background.name }}',
				skills: {{ background.skills }},
				languages: {{ background.languages }},
				equipment: {{ background.equipment }},
				tools: {{ background.tools }}
			}
		)"></template>
		{% endfor %}
		<template x-init="truncateEquipment()"></template>
		<h1>Backgrounds</h1>
		<input type="text" name="tableinput" id="tableinput" placeholder="Search Backgrounds..." x-model="query">
		<table name="filtertable" id="filtertable">
			<tr class="header">
				<th style="width: 25%">Background Name</th>
				<th style="width: 15%">Skills</th>
				<th style="width: 15%">Tools</th>
				<th style="width: 15%">Languages</th>
				<th style="width: 15%">Equipment</th>
			</tr>
			<template x-for="background, index in filterQuery()">
				<tr>
					<td><a @click="window.location.href = '/Character/Background/' + background.name" x-text="background.name"></a></td>
					<td x-text="lstostr(background.skills)"></td>
					<td x-text="lstostr(background.tools)"></td>
					<td x-text="lstostr(background.languages)"></td>
					<td x-text="background.equipment"></td>
				</tr>
			</template>
		</table>
		{% if cruleset.userid == user.id %}
		<div class="interior flex horizontal center">
			<a href="{{ url_for('epchar.createBackground', ruleset=cruleset.identifier) }}"><button>Create A Background</button></a>
			<a href="{{ url_for('epchar.importBackgrounds', ruleset=cruleset.identifier) }}"><button>Import from JSON</button></a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
