{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/classes.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex" x-data="main">
    {% for playerclass in cruleset.classes %}
    <template x-init="classROM.push(
        {
            name: '{{ playerclass.name }}',
            multiclass_prereq: '{{ playerclass.multiclass_prereq }}',
            text: `{{ playerclass.text }}`
        }
    )"></template>
    {% endfor %}
    <template x-init="initParams()"></template>
    <div class="flex vertical start">
        <h1>Classes</h1>
		<input type="text" name="tableinput" id="tableinput" placeholder="Search Classes..." x-model="query" @keyup="updateQuery()">
		<table name="filtertable" id="filtertable">
			<tr class="header">
				<th style="width: 30%">Class Name</th>
				<th style="width: 15%">Multiclass Prereq.</th>
				<th style="width: 55%">Info</th>
			</tr>
			<template x-for="playerclass, index in filterQuery()">
				<tr>
					<td><a :href="'/Character/Class/' + playerclass.name" x-text="playerclass.name"></a></td>
					<td x-html="convert(playerclass.multiclass_prereq)"></td>
					<td x-text="truncate(playerclass.text)"></td>
				</tr>
			</template>
		</table>
        <div class="interior flex horizontal center">
            {% if cruleset.userid == current_user.id %}
            <a href="{{ url_for('epchar.createClass', ruleset=cruleset.identifier) }}"><button>Create a Class</button></a>
            <a href="{{ url_for('epchar.importClasses', ruleset=cruleset.identifier) }}"><button>Import from JSON</button></a>
            {% endif %}
            <a href="{{ url_for('epchar.exportClasses', ruleset=cruleset.identifier) }}" download><button>Download all as JSON</button></a>
        </div>
    </div>
</div>
{% endblock %}
