{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/classes.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex" x-data="main">
    <div class="flex vertical start">
        <h1>Classes</h1>
		<input type="text" name="tableinput" id="tableinput" placeholder="Search Classes..." x-model="query">
        {% if cruleset.userid == current_user.id %}
        <a href="/Character/Classes/Create"><button>Create a Class</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}
