{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>{{ title }}</h1>
		{% for condition in conditions %}
		<div class="usercontent">
			<h2 x-text="'{{ condition.name }}'"></h2>
			<hr>
			<div x-html="convert(`{{ condition.text }}`)"></div>
		</div>
		{% endfor %}
		<div class="interior flex horizontal center">
			<a href="{{ url_for('eprefs.create' + button) }}"><button>Create {{ button }}</button></a>
			<a href="{{ url_for('eprefs.importConditions') }}"><button>Import from JSON</button></a>
		</div>
	</div>
</div>

{% endblock %}
