
{% extends "master.html" %}

{% block head %}
<title>Conditions | Wayfinder {{ cruleset.name }}</title>
<script src="{{ url_for('static', filename='js/conditions.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Conditions</h1>
		{% for condition in conditions %}
		<div class="usercontent">
			<h2 x-text="'{{ condition.name }}'"></h2>
			<hr>
			<div x-html="convert(`{{ condition.text }}`)"></div>
		</div>
		{% endfor %}
		<a href="/Reference/Conditions/Create"><button>Create Condition</button></a>
	</div>
</div>

{% endblock %}
