{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-and-hash.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>{{ title }}</h1>
		{% for condition in conditions %}
		<div class="usercontent">
			<h2 id="{{ condition.name.casefold().replace(' ', '-') }}"><a @click="CopyHash(`{{ condition.name.casefold().replace(' ', '-') }}`)">{{ condition.name }}</a> <span class="anchor">🔗</span></h2>
			{% if current_user.id == cruleset.userid %}
			<div>
				{% if button == "Condition" %}
				<a href="{{ url_for('eprefs.duplicateCondition', condition=condition.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Duplicate {{ condition.name }}</button></a>
				<a href="{{ url_for('eprefs.editCondition', condition=condition.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ condition.name }}</button></a>
				<a href="{{ url_for('eprefs.deleteCondition', condition=condition.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ condition.name }}</button></a>
				{% elif button == "Disease" %}
				<a href="{{ url_for('eprefs.duplicateDisease', disease=condition.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Duplicate {{ condition.name }}</button></a>
				<a href="{{ url_for('eprefs.editDisease', disease=condition.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ condition.name }}</button></a>
				<a href="{{ url_for('eprefs.deleteDisease', disease=condition.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ condition.name }}</button></a>
				{% elif button == "Status" %}
				<a href="{{ url_for('eprefs.duplicateStatus', status=condition.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Duplicate {{ condition.name }}</button></a>
				<a href="{{ url_for('eprefs.editStatus', status=condition.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ condition.name }}</button></a>
				<a href="{{ url_for('eprefs.deleteStatus', status=condition.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ condition.name }}</button></a>
				{% endif %}
			</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ condition.text }}`)"></div>
		</div>
		{% endfor %}
		<div class="interior flex horizontal center">
			{% if current_user.id == cruleset.userid %}
			<a href="{{ url_for('eprefs.create' + button, ruleset=cruleset.identifier) }}"><button>Create {{ button }}</button></a>
			<a href="{{ url_for(importer, ruleset=cruleset.identifier) }}"><button>Import from JSON</button></a>
			{% endif %}
			<a href="{{ url_for(exporter, ruleset=cruleset.identifier) }}" download><button>Download all as JSON</button></a>
		</div>
	</div>
</div>

{% endblock %}
