{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/create-background.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		{% for tool in tools %}
		<template x-init="toolROM.push(`{{ tool.name }}`)"></template>
		{% endfor %}
		<h1>Create a Background</h1>
		<form class="interior flex vertical start" method="post">
			<input name="name" id="name" x-model="name" placeholder="Background Name">
			<div class="interior flex vertical start" style="background-color: var(--nord-inactive)">
				<select style="width: auto" name="toolselect" id="toolselect" x-model="toolselect">
					<template x-for="tool in toolROM">
						<option x-text="tool.name"></option>
					</template>
				</select>
			</div>
			<!-- <div class="interior flex horizontal center" style="width: 100%; height: auto">
				<div class="interior flex vertical start" style="width: calc(50% - 24px); height: 100%; margin: 35px 12px auto 12px">
					<input name="name" id="name" x-model="name" placeholder="Background Name">
					<input name="tools" id="tools" x-model="tools" placeholder="Tool Proficiencies">
					<input name="languages" id="languages" x-model="languages" placeholder="Languages">
					<input name="equipment" id="equipment" x-model="equipment" placeholder="Equipment">
				</div>
				<div class="interior flex vertical start" style="width: calc(50% - 24px); margin: 12px; height: 100%">
					<label for="skillselect">Background Skills: </label>
					<select name="skillselect" id="skillselect" x-model="skillselect" @change="appendSkill()">
						<option value="select">Select</option>
						{% for skill in cruleset.skills %}
						<option value="{{ skill.name }}">{{ skill.name }}</option>
						{% endfor %}
					</select>
					<ul>
						<template x-for="skill, index in skills">
							<li><span x-text="skill + ` `"></span><span @click="removeSkill(index)" style="color: var(--nord-red)">[X]</span></li>
						</template>
					</ul>
				</div>
			</div> -->
			<textarea name="text" id="text" x-model="text" placeholder="Background Description"></textarea>
			<h2>Background Features</h2>
			<template x-for="feature, index, in features">
				<div class="interior flex horizontal center space-between" style="width: 100%">
					<input x-model="features[index].name" placeholder="Feature Name" style="width: calc(50% - 24px)">
					<a @click="deleteFeature(index)" style="width: calc(50% - 24px); text-align: right"><button class="danger" type="button">Delete Feature</button></a>
					<textarea style="height: 200px" x-model="features[index].text" placeholder="Background Feature Description"></textarea>
				</div>
			</template>
			<a @click="addFeature()"><button type="button">Add a Background Feature</button></a>
			<a @click="submit()"><button type="button">Create Background</button></a>
		</form>
		<div class="usercontent">
			<h1 x-text="name"></h1>
			<template x-if="skills.length != 0">
				<p x-html="parseSkills()"></p>
			</template>
			<template x-if="tools != ''">
				<p x-html="'<strong>Tool Proficiencies: </strong>' + tools"></p>
			</template>
			<template x-if="languages != ''">
				<p x-html="'<strong>Languages: </strong>' + languages"></p>
			</template>
			<template x-if="equipment != ''">
				<p x-html="'<strong>Equipment: </strong>' + equipment"></p>
			</template>
			<hr>
			<div x-html="convert(text)" style="width: 100%"></div>
			<template x-for="feature in features">
				<div style="width: 100%">
					<h2 x-text="feature.name"></h2>
					<div x-html="convert(feature.text)"></div>
				</div>
			</template>
		</div>
	</div>
</div>
{% endblock %}
