{% extends "master.html" %}

{% block body %}
<div class="flex">
	<div class="flex vertical start">
		<h1>Create a Ruleset</h1>
		<form method="POST" class="interior flex vertical start">
			<input type="text" placeholder="Ruleset Name" name="name" id="name"style="width: auto">
			<div class="interior flex horizontal center">
				<label for="shareable"><h3 style="width: auto">Make ruleset shareable?</h3></label>
				<select name="shareable" id="shareable"style="width: auto">
					<option value="True">Yes</option>
					<option value="False">No</option>
				</select>
			</div>
			<a><button type="submit">Create Ruleset</button></a>
		</form>
	</div>
</div>

{% endblock %}
