{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/create-action.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Create Action</h1>
		<form class="interior flex vertical start" method="post">
			<input name="name" id="name" x-model="name" placeholder="Action Name">
			<input name="time" id="time" x-model="time" placeholder="How Long Does the Action Take?">
			<textarea name="text" id="text" x-model="text" placeholder="Action Description"></textarea>
			<a><button type="submit">Create Action!</button></a>
		</form>
		<h2 x-text="name"></h2>
		<p><strong><em>Time: </em></strong><span x-text="time"></span></p>
		<hr>
		<div class="usercontent" x-html="convert(text)"></div>
	</div>
</div>

{% endblock %}
