{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/create-item.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		{% if not item %}
			<h1>Create an Item</h1>
		{% else %}
			<h1>{{ item.name }}</h1>
		{% endif %}
		<form class="interior flex vertical start" method="post">
			<input type="text" name="name" id="name" x-model="name" placeholder="Item Name" {% if item %} x-init="name=`{{ item.name }}`" {% endif %}>
			<div class="interior flex horizontal space-around" style="width: 100%">
				<div class="interior flex horizontal start" {% if item and item.proficiency %} x-init="proficiency=true" {% endif %}>
					<label for="proficiency">Can be Proficient?</label>
					<input id="proficiency" name="proficiency" type="checkbox" x-model="proficiency" style="width: auto">
				</div>
				<div class="interior flex horizontal start" {% if item and item.is_weapon %} x-init="isweapon=true" {% endif %}>
					<label for="isweapon">Is Weapon?</label>
					<input id="isweapon" name="isweapon" type="checkbox" x-model="isweapon" style="width: auto">
				</div>
				<div class="interior flex vertical start">
					<div class="interior flex horizontal start" {% if item and item.is_armor %} x-init="isarmor=true" {% endif %}>
						<label for="isarmor">Is Armor?</label>
						<input id="isarmor" name="isarmor" type="checkbox" x-model="isarmor" style="width: auto">
					</div>
					<div class="interior flex horizontal start" x-show="isarmor" {% if item and item.add_dex %} x-init="adddex=true" {% endif %}>
						<label for="adddex">Add Dex?</label>
						<input id="adddex" name="adddex" type="checkbox" x-model="adddex" style="width: auto">
					</div>
				</div>
				<div class="interior flex vertical start">
					<div class="interior flex horizontal start"{% if item and item.is_magical %} x-init="ismagical=true" {% endif %}>
						<label for="ismagical">Is Magical?</label>
						<input type="checkbox" name="ismagical" id="ismagical" x-model="ismagical" style="width: auto">
					</div>
				</div>
			</div>
			{% if not cruleset.item_tags %}
				<div class="mild danger">
					<h3>Hey!</h3>
					<p>You don't have any item tags in this ruleset! Without adding any, you won't be able to assign tags to this item. You can create item tags <a href="{{ url_for('eprefs.createTag') }}">here</a>.</p>
				</div>
				<div style="height: 30px"></div>
			{% else %}
				<div class="interior flex horizontal start" style="background-color: var(--nord-inactive); width: 100%; padding: 0px 12px; margin: 12px 0px">
					<div style="width: 100%">
						<label for="tagselect">Add Tag: </label>
						<select name="tagselect" id="tagselect" x-model="tagselect" style="width: auto" @change="appendTag()" x-init="updateTags()">
							{% for tag in tags %}
							<option>{{ tag.name }}</option>
							{% endfor %}
						</select>
					</div>
					<template x-for="tag, index in taglist">
						<span @click="removeTag(index)" class="chip"><span x-text="tag"></span><span class="remove">&times</span></span>
					</template>
					<template x-for="tag, index in taglist" {% if item %} x-init="taglist={{ item.tags }}" {% endif %}>
						<input type="hidden" name="tag" id="tag" x-model="taglist[index]">
					</template>
				</div>
			{% endif %}
			{% if not cruleset.item_properties %}
				<div class="mild danger" x-show="isweapon">
					<h3>Hey!</h3>
					<p>You don't have any weapon properties in this ruleset! Without adding any, you won't be able to assign properties to this weapon. You can create weapon properties <a href="{{ url_for('eprefs.createProperty') }}">here</a>.</p>
				</div>
			{% else %}
				<div class="interior flex horizontal start" style="background-color: var(--nord-inactive); width: 100%; padding: 0px 12px; margin: 12px 0px" x-show="isweapon">
					<div style="width: 100%">
						<label for="propertyselect">Add Weapon Property: </label>
						<select name="propertyselect" id="propertyselect" x-model="propertyselect" style="width: auto" @change="appendProperty()" x-init="updateProperties()">
							{% for property in properties %}
							<option>{{ property.name }}</option>
							{% endfor %}
						</select>
					</div>
					<template x-for="property, index in propertylist" {% if item %} x-init="propertylist={{ item.weapon_properties }}" {% endif %}>
						<span @click="removeProperty(index)" class="chip"><span x-text="property"></span><span class="remove">&times</span></span>
					</template>
					<template x-for="property, index in propertylist">
						<input type="hidden" name="property" id="property" x-model="propertylist[index]">
					</template>
				</div>
			{% endif %}
			<div class="interior flex horizontal space-around" style="width: 100%">
				<input name="cost" id="cost" type="text" x-model="cost" style="width: auto" placeholder="Cost" {% if item and item.cost %} x-init="cost=`{{ item.cost }}`" {% endif %}>
				<input name="weight" id="weight" type="number" x-model="weight" style="width: auto" placeholder="Weight (lbs)" {% if item and item.weight%} x-init="weight={{ item.weight }}" {% endif %}>
				<input name="armorclass" id="armorclass" type="number" x-model="armorclass" style="width: auto" placeholder="Armor Class" x-show="isarmor" {% if item and item.armor_class %} x-init="armorclass={{ item.armor_class }}" {% endif %}>
				<input name="maxdex" id="maxdex" type="number" x-model="maxdex" style="width: auto" placeholder="Max Dex (0 for None)" x-show="adddex" {% if item and item.add_dex and item.max_dex %} x-init="maxdex={{ item.max_dex }}" {% endif %}>
				<div class="interior flex horizontal start" x-show="isweapon">
					<label for="dienum">Damage Dice:</label>
					<input name="dienum" id="dienum" type="number" x-model="dienum" style="width: auto" placeholder="Damage Die Number" {% if item and item.is_weapon %} x-init="dienum={{ item.die_num }}" {% endif %}>
					<select name="damagedie" id="damagedie" x-model="damagedie" style="width: auto" {% if item and item.is_weapon %} x-init="damagedie={{ item.damage_die }}" {% endif %}>
						<option value="4">d4</option>
						<option value="6">d6</option>
						<option value="8">d8</option>
						<option value="10">d10</option>
						<option value="12">d12</option>
						<option value="20">d20</option>
					</select>
					<input name="damagetype" id="damagetype" type="text" x-model="damagetype" style="width: auto" placeholder="Damage Type" {% if item and item.is_weapon %} x-init="damagetype=`{{ item.damage_type }}`	" {% endif %}>
				</div>
			</div>
			<textarea x-model="text" placeholder="Item Description"></textarea>
			<input type="hidden" name="text" id="text" x-model="text" {% if item %} x-init="text=`{{ item.text }}`" {% endif %}>
			{% if item %}
				<a><button type="submit">Submit Changes</button></a>
			{% else %}
				<a><button type="submit">Create Item!</button></a>
			{% endif %}
		</form>
		<div class="usercontent">
			<h1 x-text="name"></h1>
			<div class="interior flex horizontal space-between" style="width: 100%">
				<p><em x-text="tags"></em></p>
			</div>
			<div class="interior flex horizontal space-between">
				<p x-text="cost + ', ' + weight + 'lbs'" style="width: auto"></p>
				<p x-show="isarmor" style="width: auto">
					<span x-text="'AC ' + armorclass"></span>
					<span x-show="adddex" x-text="' + Dex'"></span>
					<template x-if="maxdex != null && maxdex != 0 && adddex">
						<span x-text="' (Max ' + maxdex + ')'"></span>
					</template>
				</p>
			</div>
			<hr>
			<div x-html="convert(text)"></div>
		</div>
	</div>
</div>
{% endblock %}
