{% extends "master.html" %}

{% block head %}
<title>Create A Race | Wayfinder</title>
<script src="{{ url_for('static', filename='js/create-background.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Create a Background</h1>
		<h2>Base Race Info</h2>
		<form method="POST" class="interior flex vertical start">
			<input placeholder="Race Name" name="name" id="name" x-model="name">
			<!-- Ability Score Improvement Inputs -->
			<div class="interior flex horizontal center" x-show="!asi_override">
				<input style="width: calc(100% / 6 - 24px); min-width: 55px; font-size: 16px" type="number" placeholder="STR Bonus" name="str" id="str" x-model="str">
				<input style="width: calc(100% / 6 - 24px); min-width: 55px; font-size: 16px" type="number" placeholder="DEX Bonus" name="dex" id="dex" x-model="dex">
				<input style="width: calc(100% / 6 - 24px); min-width: 55px; font-size: 16px" type="number" placeholder="CON Bonus" name="con" id="con" x-model="con">
				<input style="width: calc(100% / 6 - 24px); min-width: 55px; font-size: 16px" type="number" placeholder="INT Bonus" name="int" id="int" x-model="int">
				<input style="width: calc(100% / 6 - 24px); min-width: 55px; font-size: 16px" type="number" placeholder="WIS Bonus" name="wis" id="wis" x-model="wis">
				<input style="width: calc(100% / 6 - 24px); min-width: 55px; font-size: 16px" type="number" placeholder="CHA Bonus" name="cha" id="cha" x-model="int">
			</div>
			<textarea placeholder="Ability Score Improvement" x-show="asi_override" style="height: 100px" x-model="asi_text"></textarea>
			<div class="interior flex horizontal start">
				<label for="asi_override">Override Ability Score Improvement?</label>
				<input style="width: auto" type="checkbox" name="asi_override" id="asi_override" x-model="asi_override">
			</div>
			<!-- Size Inputs -->
			<select name="size" id="size" x-show="!size_override" style="font-size: 16px" x-model="size">
				<option value="0">Tiny</option>
				<option value="1">Small</option>
				<option value="2" selected>Medium</option>
				<option value="3">Large</option>
				<option value="4">Huge</option>
				<option value="5">Gargantuan</option>
			</select>
			<textarea placeholder="Size" x-show="size_override" style="height: 100px" x-model="size_text"></textarea>
			<div class="interior flex horizontal start">
				<label for="size_override">Override Size?</label>
				<input style="width: auto" type="checkbox" name="size_override" id="size_override" x-model="size_override">
			</div>
			<!-- Weight and Height -->
			<div class="interior flex horizontal center">
				<!-- Height -->
				<div class="interior flex horizontal center" style="width: 50%">
					<div style="width: 50%; min-width: 180px" class="interior flex vertical start">
						<label for="base_height">Base Height</label>
						<input style="font-size: 16px" type="number" id="base_height" name="base_height" x-model="base_height">
					</div>
					<div style="width: 50%; min-width: 200px" class="interior flex vertical start">
						<label for="height_num">Height Dice</label>
						<div class="interior flex horizontal center" style="max-width: 250px">
							<input style="width: calc(100% / 3 - 24px); min-width: 55px; font-size: 16px" type="number" id="height_num" name="height_num">
							<h6>d</h6>
							<input style="width: calc(100% / 3 - 24px); min-width: 55px; font-size: 16px" type="number" id="height_die" name="height_die">
						</div>
					</div>
				</div>
				<!-- Weight -->
				<div class="interior flex horizontal center" style="width: 50%">
					<div style="width: 50%; min-width: 180px" class="interior flex vertical start">
						<label for="base_height">Base Weight</label>
						<input style="font-size: 16px" type="number" id="base_weight" name="base_weight" x-model="base_weight">
					</div>
					<div style="width: 50%; min-width: 180px" class="interior flex vertical start">
						<label for="weight_num">Race Height Dice</label>
						<div class="interior flex horizontal center" style="max-width: 250px">
							<input style="width: calc(100% / 3 - 24px); min-width: 55px; font-size: 16px" type="number" id="weight_num" name="weight_num">
							<h6>d</h6>
							<input style="width: calc(100% / 3 - 24px); min-width: 55px; font-size: 16px" type="number" id="weight_die" name="weight_die">
						</div>
					</div>
				</div>
			</div>
			<!-- Speed -->
			<div class="interior flex horizontal center">
				<input style="width: calc(100% / 5 - 24px); min-width: 120px; font-size: 16px" placeholder="Walk Speed" name="walk" id="walk" x-model="walk">
				<input style="width: calc(100% / 5 - 24px); min-width: 120px; font-size: 16px" placeholder="Swim Speed" name="swim" id="swim" x-model="swim">
				<input style="width: calc(100% / 5 - 24px); min-width: 120px; font-size: 16px" placeholder="Climb Speed" name="climb" id="climb" x-model="climb">
				<input style="width: calc(100% / 5 - 24px); min-width: 120px; font-size: 16px" placeholder="Fly Speed" name="fly" id="fly" x-model="fly">
				<input style="width: calc(100% / 5 - 24px); min-width: 120px; font-size: 16px" placeholder="Burrow Speed" name="burrow" id="burrow" x-model="burrow">
			</div>
			<textarea placeholder="Flavor Text (You can use markdown syntax! A preview of what it will look like is shown below.)" x-model="text"></textarea>
			<!-- Features -->
			<h2>Race Features</h2>
			<template x-for="(feature, index) in features">
				<div class="interior flex vertical start" style="width: 100%">
					<div class="interior flex horizontal center">
						<input type="text" placeholder="Feature Name" x-model="feature.name" style="width: 50%; min-width: 250px;">
						<a @click="removeFeature(index)"><button type="button" class="mild danger">Remove Feature</button></a>
					</div>
					<textarea placeholder="Race feature text." style="height: 100px" x-model="feature.text"></textarea>
				</div>
			</template>
			<a @click="addFeature()"><button type="button">Add Racial Feature</button></a>
			<!-- Subraces -->
			<h2>Subraces</h2>
			<div class="interior flex horizontal center">
				<label for="has_subraces">Has subraces?</label>
				<input type="checkbox" name="has_subraces" id="has_subraces" x-model="has_subraces">
			</div>
			<!-- Display Subraces -->
			<template x-if="has_subraces">
				<div class="interior flex vertical start" style="width: 100%">
					<textarea placeholder="Flavor text for all subraces." x-model="subrace_flavor"></textarea>
					<!-- For each subrace, display its details -->
					<template x-for="(subrace, index) in subraces">
						<div class="interior flex vertical" style="width: 100%">
							<!-- Subrace Name, Buttons -->
							<div class="interior flex horizontal center" style="width: 100%">
								<input type="text" placeholder="Subrace Name" x-model="subrace.name" style="width: calc(100% / 3 - 24px); min-width: 250px;">
								<a @click="removeSubrace(index)" style="width: calc(100% / 3 - 24px); min-width: 250px"><button type="button" class="mild danger">Remove Subrace</button></a>
								<a @click="addSubraceFeature(index)" style="width: calc(100% / 3 - 24px); min-width: 250px"><button type="button">Add Feature</button></a>
							</div>
							<!-- Subrace Flavor Text -->
							<textarea placeholder="Subrace text." style="height: 100px" x-model="subrace.text"></textarea>
							<!-- For each subrace feature, display its details -->
							<template x-for="(feature, findex) in subrace.features">
								<div class="interior flex vertical start" style="width: 100%">
									<!-- Feature name, actions -->
									<div class="interior flex horizontal center" style="width: 100%">
										<input type="text" placeholder="Subrace Feature Name" x-model="feature.name" style="width: 50%; min-width: 250px; font-size: 16px">
										<a @click="removeSubraceFeature(findex)"><button type="button" class="mild danger">Remove Feature</button></a>
									</div>
									<textarea placeholder="Subrace feature text." style="height: 100px" x-model="feature.text"></textarea>
								</div>
							</template>
							<hr>
						</div>
					</template>
					<a @click="addSubrace()"><button type="button">Add Subrace</button></a>
				</div>
			</template>
			<h1 x-text="name"></h1>
			<p x-html="convert(parseASI())"></p>
			<p x-html="convert(parseSize())"></p>
			<p x-html="convert(parseSpeed())"></p>
			<hr>
			<div class="interior flex vertical start usercontent" x-html="convert(text)" style="width: 100%">
			</div>
			<div class="interior flex vertical start" style="width: 100%">
				<template x-for="feature in features">
					<p class="usercontent" x-html="convert('***' + feature.name + '.*** ' + feature.text)"></p>
				</template>
			</div>
			<template x-if="has_subraces">
				<div class="interior flex vertical start usercontent">
					<h2>Subrace</h2>
					<hr>
					<p x-html="convert(subrace_flavor)"></p>
					<template x-for="subrace in subraces">
						<div class="interior flex vertical usercontent">
							<h3 x-text="subrace.name"></h3>
							<p x-html="convert(subrace.text)"></p>
							<template x-for="feature in subrace.features">
								<p x-html="convert('***' + feature.name + '.*** ' + feature.text)"></p>
							</template>
						</div>
					</template>
				</div>
			</template>
			<a @click="submit()"><button type="button">Create Race!</button></a>
		</form>
	</div>
</div>
{% endblock %}
