
{% extends "master.html" %}

{% block head %}
<title>Create Recipe | Wayfinder {{ cruleset.name }}</title>
<script src="{{ url_for('static', filename='js/create-recipe.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Create Recipe</h1>
		<form class="interior flex vertical start" method="post">
			<input name="name" id="name" x-model="name" placeholder="Recipe Name">
			<textarea name="text" id="text" x-model="text" placeholder="Recipe Description"></textarea>
			<a><button type="submit">Create Recipe!</button></a>
		</form>
		<h2 x-text="name"></h2>
		<hr>
		<div class="usercontent" x-html="convert(text)"></div>
	</div>
</div>

{% endblock %}
