{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/create-condition.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>{{ "Edit %s"|format(condition.name) if condition else "Create Condition" }}</h1>
		<form class="interior flex vertical start" method="post">
			<input name="name" id="name" x-model="name" placeholder="Condition Name" {% if condition %} x-init="name = `{{ condition.name }}`" {% endif %}>
			<textarea name="text" id="text" x-model="text" placeholder="Condition Description" {% if condition %} x-init="text = `{{ condition.text }}`" {% endif %}></textarea>
			<a><button type="submit">{{ "Submit Changes" if condition else "Create Condition!" }}</button></a>
		</form>
		<h2 x-text="name"></h2>
		<hr>
		<div class="usercontent" x-html="convert(text)"></div>
	</div>
</div>

{% endblock %}
