{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/create-property.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<form class="flex vertical start" x-data="main" method="post">
		<!-- title -->
		{% if tproperty %}
			<h1>Edit {{ tproperty.name }}</h1>
		{% else %}
			<h1>Create Weapon Property</h1>
		{% endif %}

		<!-- name -->
		<input name="name" id="name" x-model="name" placeholder="Weapon Property Name" {% if tproperty %} x-init="name=`{{ tproperty.name }}`" {% endif %}>

		<!-- boolean values -->
		<div class="interior flex horizontal space-around" style="width: 100%">
			<div class="interior flex horizontal center">
				<label for="showversatile">Show Versatile?</label>
				<input type="checkbox" name="showversatile" id="showversatile" x-model="showversatile" {% if tproperty and tproperty.displays_versatile %} x-init="showversatile=true" {% endif %}>
			</div>
			<div class="interior flex horizontal center">
				<label for="showrange">Show Range?</label>
				<input type="checkbox" name="showrange" id="showrange" x-model="showrange" {% if tproperty and tproperty.displays_range %} x-init="showrange=true" {% endif %}>
			</div>
		</div>

		<!-- text -->
		<textarea name="text" id="text" x-model="text" placeholder="Weapon Property Description" {% if tproperty %} x-init="text=`{{ tproperty.text }}`" {% endif %}></textarea>

		<!-- preview -->
		<h2 x-text="name"></h2>
		<hr>
		<div class="usercontent" x-html="convert(text)"></div>
		{% if tproperty %}
			<a><button type="submit">Submit Changes</button></a>
		{% else %}
			<a><button type="submit">Create Weapon Property!</button></a>
		{% endif %}
	</form>
</div>

{% endblock %}
