{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/create-stat.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Create Ability Score</h1>
		<form class="interior flex vertical start" method="post">
			<input name="name" id="name" x-model="name" placeholder="Ability Score Name">
			<input name="abbr" id="abbr" x-model="abbr" placeholder="Ability Score Abbreviation">
			<textarea name="text" id="text" x-model="text" placeholder="Ability Score Description"></textarea>
			<a><button type="submit">Create Ability Score!</button></a>
		</form>
		<h2 x-text="name + ' (' + abbr + ')'"></h2>
		<hr>
		<div class="usercontent" x-html="convert(text)"></div>
	</div>
</div>

{% endblock %}
