{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex" x-data="main">
    <div class="flex vertical start">
        <h1>{{ feat.name }}</h1>
        {% if feat.prerequisite != "" %}
            <p><strong><em>Prerequisite: </em></strong>{{ feat.prerequisite }}</p>
        {% endif %}
        <div class="usercontent" x-html="convert(`{{ feat.text }}`)"></div>
        {% if cruleset.userid == current_user.id %}
            <a href="/Character/Feat/{{ feat.name.replace(' ', '-') }}/Delete"><button type="button" class="danger">Delete {{ feat.name }}</button></a>
            <a href="/Character/Feat/{{ feat.name.replace(' ', '-') }}/Duplicate"><button type="button">Duplicate {{ feat.name }}</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}

