{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex" x-data="main">
    <div class="flex vertical start">
        <h1>{{ feat.name }}</h1>
        {% if feat.prerequisite != "" %}
            <p><strong><em>Prerequisite: </em></strong>{{ feat.prerequisite }}</p>
        {% endif %}
        <div class="usercontent" x-html="convert(`{{ feat.text }}`)"></div>
        {% if cruleset.userid == current_user.id %}
            <a href="/Character/Feats/Duplicate/{{ feat.name }}"><button type="button">Duplicate {{ feat.name }}</button></a>
            <a href="/Character/Feats/Edit/{{ feat.name }}"><button type=button>Edit {{ feat.name }}</button></a>
            <a href="/Character/Feats/Delete/{{ feat.name }}"><button type="button" class="mild danger">Delete {{ feat.name }}</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}

