
{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/import-two.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<form class="flex vertical start" method="post" x-data="main">
		<h1 @click="console.log(parsed_flavor)">{{ title }}</h1>
		{% block warnings %}
		{% endblock %}
		{% block instructionsone %}
		{% endblock %}
        <input 
			type="file" 
			id="feature_file" 
			name="feature_file" 
			x-model="feature_file" 
			accept=".json" 
			@change="parseFeatures()">
        <input type="hidden" id="parsed_features" name="parsed_features" x-model="parsed_features">

		<hr>
		{% block instructionstwo %}
		{% endblock %}
		<input
			type="file"
			id="flavor_file"
			name="flavor_file"
			x-model="flavor_file"
			accept=".json"
			@change="parseFlavor()">
		<input type="hidden" id="parsed_flavor" name="parsed_flavor" x-model="parsed_flavor">

		<a><button type="submit">{{ title }}!</button></a>

		<div class="modal" x-show="modal" @click="modal = !modal"></div>
		<div class="modal-alert flex vertical start" x-show="modal">
			<h1>Your Files Too Powerful!</h1>
			<p>The maximum file size for importing is 2 MiB.</p>
			<a><button @click="modal = !modal" type="button">Gotcha!</button></a>
		</div>
	</form>
</div>

{% endblock %}
