
{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/import-items.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<form class="flex vertical start" method="post" x-data="main">
		<h1 @click="console.log(parsed_base)">Import Items, Item Types, and Item Properties</h1>

        <label for="item_file"><h3>items.json</h3></label>
        <input
            type="file"
            name="item_file"
            id="item_file"
            x-model="item_file"
            accept=".json"
            @change="parseItem()">
        <input
            type="hidden"
            name="parsed_item"
            id="parsed_item"
            x-model="parsed_item">
        
        <hr>

        <label for="base_file"><h3>items-base.json</h3></label>
        <input
            type="file"
            name="base_file"
            id="base_file"
            x-model="base_file"
            accept=".json"
            @change="parseBase()">
        <input
            type="hidden"
            name="parsed_base"
            id="parsed_base"
            x-model="parsed_base">

		<a><button type="submit">Import!</button></a>
	</form>
</div>

{% endblock %}
