{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>{{ item.name }}</h1>
		<div class="interior flex horizontal space-between" style="width: 100%">
			<p style="width: auto">
				<em>
					{% for tag in item.tags %}
						<span>{{ tag }}, </span>
					{% endfor %}
					{% if item.is_weapon %}
						<br>
						{% for property in item.weapon_properties %}
						<span>{{ property }}, </span>
						{% endfor %}
					{% endif %}
				</em>
			</p>
			<p style="width: auto">
				{% if item.is_armor %}
				<span>AC {{ item.armor_class }}</span>
					{% if item.add_dex %}
					<span> + Dex</span>
					{% endif %}
					{% if item.max_dex and item.max_dex != 0 %}
					<span> (Max {{ item.max_dex }})</span>
					{% endif %}
				{% elif item.is_weapon %}
				<span>{{ item.die_num }}d{{ item.damage_die }} {{  item.damage_type }} damage</span>
				{% endif %}
			</p>
		</div>
		<div class="interior flex horizontal space-between" style="width: 100%">
			<p>{{ item.cost }}, {{ item.weight }}lbs</p>
		</div>
		<hr>
		<div class="usercontent" x-html="convert(`{{ item.text }}`)"></div>
		{% if current_user.id == cruleset.userid %}
		<div class="interior flex horizontal center">
			<a href="{{ url_for('eprefs.editItem', item=item.name, ruleset=cruleset.identifier) }}"><button>Edit {{ item.name }}</button></a>
			<a href="{{ url_for('eprefs.duplicateItem', item=item.name, ruleset=cruleset.identifier) }}"><button>Duplicate {{ item.name }}</button></a>
			<a href="{{ url_for('eprefs.deleteItem', item=item.name, ruleset=cruleset.identifier) }}"><button class="mild danger">Delete {{ item.name }}</button></a>
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}
