{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Languages</h1>
		{% for language in cruleset.languages %}
		<div class="usercontent">
			<h2 x-text="`{{ language.name }}`"></h2>
			{% if cruleset.userid == current_user.id %}
				<div>
					<a href="{{ url_for('eprefs.editLanguage', language=language.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ language.name }}</button></a>
					<a href="{{ url_for('eprefs.duplicateLanguage', language=language.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Duplicate {{ language.name }}</button></a>
					<a href="{{ url_for('eprefs.deleeLanguage', language=language.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ language.name }}</button></a>
				</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ language.text }}`)"></div>
		</div>
		{% endfor %}
		<div class="interior flex horizontal center">
			<a href="{{ url_for('eprefs.createLanguage', ruleset=cruleset.identifier) }}"><button>Create Language</button></a>
			<a href="{{ url_for('eprefs.importLanguages', ruleset=cruleset.identifier) }}"><button>Import From JSON</button></a>
		</div>
	</div>
</div>

{% endblock %}
