{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/languages.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Languages</h1>
		{% for language in cruleset.languages %}
		<div class="usercontent">
			<h2 x-text="'{{ language.name }}'"></h2>
			<hr>
			<div x-html="convert(`{{ language.text }}`)"></div>
		</div>
		{% endfor %}
		<a href="/Reference/Languages/Create"><button>Create Language</button></a>
	</div>
</div>

{% endblock %}
