{% extends "master.html" %}

{% block head %}
<title>Log In | Wayfinder</title>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start">
		<h1>Log In</h1>
		<form class="interior flex vertical start" method="post">
			<div class="interior flex horizontal center">
				<input type="text" name="username" id="username" placeholder="Username">
			</div>
			<div class="interior flex horizontal center">
				<input type="password" name="password" id="password" placeholder="Password">
			</div>
			<span class="small">Don't have an account? <a href="/Signup">Sign Up!</a></span>
			<span id="forgotpassword" style="display: none" class="small">a</span>
			<div class="interior flex horizontal center">
				<input type="submit">
			</div>
		</form>
	</div>
</div>

{% endblock %}
