{% extends "master.html" %}

{% block head %}
<title>Create Ruleset | Wayfinder</title>
<script src="{{ url_for('static', filename='js/manage-rulesets.js') }}"></script>
{% endblock %}

{% block body %}
<div x-data="main">
<div class="flex">
	<div class="flex vertical start">
		<h1>Manage {{ ruleset.name }}</h1>
		<form class="grid space-evenly" method="POST">
			<h5 style="grid-column: 1 / span 10">Ruleset ID: </h5>
			<h5 style="grid-column: 11 / span 2">{{ ruleset.id }}</h5>
			<span class="small" style="grid-column: 1 / span 12; text-align: center; margin: 0 12px 12px 12px">
				Give this to your friends to share your ruleset!
			</span>
			<h5 style="grid-column: 1 / span 4">Ruleset Name: </h5>
			<input 
				type="text" 
				style="grid-column: 5 / span 5" 
				value="{{ ruleset.name }}" 
				name="name" 
				id="name">
			</input>
			<h5 style="grid-column: 1 / span 4">Is Shareable? </h5>
			{% if ruleset.is_shareable %}
				<select
					style="grid-column: 5 / span 7"
					name="shareable"
					id="shareable">
					<option value="True">Yes</option>
					<option value="False">No</option>
				</select>
			{% else %}
				<select
					style="grid-column: 5 / span 7"
					name="shareable"
					id="shareable">
					<option value="False">No</option>
					<option value="True">Yes</option>
				</select>
			{% endif %}
			<button type="submit" style="grid-column: 2 / span 10">Submit Changes</button>
		</form>
		<a style="margin: 50px"><button class="danger" @click="toggle()">Delete Ruleset</button></a>
	</div>
</div>

<div class="modal" :style="show" @click="toggle()">
</div>
<div class="modal-alert flex vertical start" :style="show">
	<h2>Delete Ruleset?</h2>
	<p>Deleting this ruleset will result in it being lost forever (a very long time).</p>
	<p>Click the button below to confirm</p>
	<button 
		class="danger"
		style="width: auto"
		@click="confirmDelete({{ ruleset.id }})">
		Confirm Deletion
	</button>
	<a 
		style="margin: 50px auto 0px auto">
		<span class="small" @click="toggle()">Nevermind</span>
	</a>
</div>
</div>
{% endblock %}
