<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="icon" type="image/x-ixon" href="{{ url_for('static', filename='images/d20.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/containers.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">	
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
	<script src="{{ url_for('static', filename='js/master.js') }}"></script>
	<title>{{ title }} | Wayfarer {{ cruleset.name }}</title>
	{% block head %}{% endblock %}
</head>

<body>
<ul class="nav">
	<li id="nav-home" class="nav-item"><a href="/">Home</a></li>
	<li id="nav-rules" class="dropdown nav-item">
		<a href="#" class="dropbtn">Rules</a>
		<div class="dropdown-content">
			{% for category in cruleset.categories %}
			<a href="{{ url_for('eprule.CategoryRoute', categoryname=category.name, ruleset=cruleset.identifier) }}">{{ category.name }}</a>
			{% endfor %}
		</div>
	</li>
	<li id="nav-char" class="dropdown nav-item">
		<a href="#" class="dropbtn">Characters</a>
		<div class="dropdown-content">
			<a href="{{ url_for('epchar.races', ruleset=cruleset.identifier) }}">Races</a>
			<a href="{{ url_for('epchar.backgrounds', ruleset=cruleset.identifier) }}">Backgrounds</a>
			<a href="{{ url_for('epchar.feats', ruleset=cruleset.identifier) }}">Feats</a>
			<a href="{{ url_for('epchar.stats', ruleset=cruleset.identifier) }}">Ability Scores</a>
			<a href="{{ url_for('epchar.classes', ruleset=cruleset.identifier) }}">Classes</a>
		</div>
	</li>
	<li id="nav-qref" class="dropdown nav-item">
		<a href="#">Reference</a>
		<div class="dropdown-content">
			<a href="{{ url_for('eprefs.actions', ruleset=cruleset.identifier) }}">Actions</a>
			<a href="{{ url_for('eprefs.conditions', ruleset=cruleset.identifier) }}">Conditions</a>
			<a href="{{ url_for('eprefs.diseases', ruleset=cruleset.identifier) }}">Diseases</a>
			<a href="{{ url_for('eprefs.statuses', ruleset=cruleset.identifier) }}">Statuses</a>
			<a href="{{ url_for('eprefs.items', ruleset=cruleset.identifier) }}">Items & Adventuring Gear</a>
			<a href="{{ url_for('eprefs.tags', ruleset=cruleset.identifier) }}">Item Types</a>
			<a href="{{ url_for('eprefs.properties', ruleset=cruleset.identifier) }}">Weapon Properties</a>
			<a href="{{ url_for('eprefs.languages', ruleset=cruleset.identifier) }}">Languages</a>
			<a href="{{ url_for('eprefs.spells', ruleset=cruleset.identifier) }}">Spells</a>
			<a href="{{ url_for('eprefs.recipes', ruleset=cruleset.identifier) }}">Recipes</a>
			<a href="{{ url_for('eprefs.skills', ruleset=cruleset.identifier) }}">Skills</a>
		</div>
	</li>
	<li id="nav-tools" class="dropdown nav-item">
		<a href="#">Tools</a>
		<div class="dropdown-content">
			<!-- <a href="/Tools/VTT">Virtual Tabletop</a> -->
			<a href="{{ url_for('eptool.npcGen', ruleset=cruleset.identifier) }}">NPC Generator</a>
			<a href="{{ url_for('eptool.backstoryGen', ruleset=cruleset.identifier) }}">Backstory Generator</a>
			<!-- <a href="/Tools/CR-Calc">CR Calculator</a> -->
			<!-- <a href="/Tools/Encounter-Gen">Encounter Generator</a> -->
			<!-- <a href="/Tools/Loot-Gen">Loot Generator</a> -->
			<a href="{{ url_for('eptool.statGen', ruleset=cruleset.identifier) }}">Stat Generator</a>
		</div>
	</li>
	{% if current_user.is_authenticated %}
		<li id="nav-account" class="dropdown nav-item nav-right">
			<a href="{{ url_for('epmain.myAccount', ruleset=cruleset.identifier) }}">My Account</a>
			<div class="dropdown-content" style="right: 0px">
				<a href="{{ url_for('epmain.myRulesets', ruleset=cruleset.identifier) }}">My Rulesets</a>
				<a href="{{ url_for('epauth.logout', ruleset=cruleset.identifier) }}">Log Out</a>
			</div>
		</li>
	{% else %}
		<li id="nav-login" class="nav-right">
			<a id="login-link" href="{{ url_for('epauth.login', ruleset=cruleset.identifier) }}">Log In</a>
		</li>
	{% endif %}
</ul>

{% with messages = get_flashed_messages(with_categories=true) %}
	{% for category, message in messages %}
		<div class="interior flex horizontal center {{ category }} bar" x-data="{ dismissed: false }" x-show="!dismissed">
			<span style="width: calc(100% - 80px)">{{ message }}</span>
			<a style="margin: 0" @click="dismissed = !dismissed">
				<span>&times</span>
			</a>
		</div>
	{% endfor %}
{% endwith %}

<form class="topbar" x-data="master">
	<li class="static"><p>Selected Ruleset: </p></li>
	<li>
		{% if current_user.is_authenticated %}
		<select name="current_ruleset" id="current_ruleset" x-init="init_selected(`{{ cruleset.id }}`)">
		{% else %}
		<select name="current_ruleset" id="current_ruleset">
		{% endif %}
			{% for ruleset in adminrulesets %}
			<option value="{{ ruleset.id }}">{{ ruleset.name }}</option>
			{% endfor %}
			{% if not current_user.is_admin %}
			{% for ruleset in current_user.rulesets %}
			<option value="{{ ruleset.id }}">{{ ruleset.name }}</option>
			{% endfor %}
			{% endif %}
			{% if current_user.is_authenticated %}
			{% for ruleset in current_user.getForeignRulesets() %}
			<option value="{{ ruleset.id }}">{{ ruleset.name }}</option>
			{% endfor %}
			{% endif %}
		</select>
	</li>
	<li><a @click="changeRuleset()">Change Rulesets</a></li>
</form>
{% block body %}{% endblock %}
</body>
</html>
