<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="icon" type="image/x-ixon" href="https://discord.id/img/flags/7.png">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
	<script src="{{ url_for('static', filename='js/master.js') }}"></script>
	{% block head %}{% endblock %}
</head>

<body>
<ul class="nav">
	<li id="nav-home" class="nav-item"><a href="/">Home</a></li>
	<li id="nav-rules" class="dropdown nav-item">
		{% if cruleset.id == 1 %}
			<a href="#" class="dropbtn">Rules</a>
		{% else %}
			<a href="/Rules" class="dropbtn">Rules</a>
		{% endif %}
		<div class="dropdown-content">
			{% for category in cruleset.categories %}
			<a href="/Rules/{{ category.name.replace(' ', '-') }}">{{ category.name }}</a>
			{% endfor %}
		</div>
	</li>
	<li id="nav-char" class="dropdown nav-item">
		<a href="/Character" class="dropbtn">Characters</a>
		<div class="dropdown-content">
			<a href="/Character/Races">Races</a>
			<a href="/Character/Backgrounds">Backgrounds</a>
			<a href="/Character/Feats">Feats</a>
			<a href="/Character/Ability-Scores">Ability Scores</a>
			<a href="/Character/Step-by-Step">Step-by-Step Characters</a>
		</div>
	</li>
	<li id="nav-qref" class="dropdown nav-item">
		<a href="/Reference">Reference</a>
		<div class="dropdown-content">
			<a href="/Reference/Actions">Actions</a>
			<a href="/Reference/Conditions">Conditions</a>
			<a href="/Reference/Items">Items & Adventuring Gear</a>
			<a href="/Reference/Items/Tags">Item Types</a>
			<a href="/Reference/Items/Properties">Weapon Properties</a>
			<a href="/Reference/Magic-Items">Magic Items</a>
			<a href="/Reference/Languages">Languages</a>
			<a href="/Reference/Spells">Spells</a>
			<a href="/Reference/Vehicles">Vehicles</a>
			<a href="/Reference/Recipes">Recipes</a>
			<a href="/Reference/Skills">Skills</a>
		</div>
	</li>
	<li id="nav-tools" class="dropdown nav-item">
		<a href="/Tools">Tools</a>
		<div class="dropdown-content">
			<a href="/Tools/VTT">Virtual Tabletop</a>
			<a href="/Tools/NPC-Gen">NPC Generator</a>
			<a href="/Tools/Backstory-Gen">Backstory Generator</a>
			<a href="/Tools/CR-Calc">CR Calculator</a>
			<a href="/Tools/Encounter-Gen">Encounter Generator</a>
			<a href="/Tools/Loot-Gen">Loot Generator</a>
			<a href="/Tools/Stat-Gen">Stat Generator</a>
			<a href="/Tools/Backstory">Backstory Generator</a>
		</div>
	</li>
	{% if user.is_authenticated %}
		<li id="nav-account" class="dropdown nav-item nav-right">
			<a href="/My-Account">My Account</a>
			<div class="dropdown-content" style="right: 0px">
				<a href="/My-Rulesets">My Rulesets</a>
				<a href="/My-PCs">My Characters</a>
				<a href="/My-NPCs">My NPCs</a>
				<a href="/Logout">Log Out</a>
			</div>
		</li>
	{% else %}
		<li id="nav-login" class="nav-right">
			<a id="login-link" href="/Login">Log In</a>
		</li>
	{% endif %}
</ul>


{% with messages = get_flashed_messages(with_categories=false) %}
	{% if messages %}
		{% for message in messages %}
			<div class="interior flex horizontal center red bar">
				<span>{{ message }}</span>
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<div id="jsflash">
</div>

<ul class="topbar" x-data="master">
	<li class="static"><p>Selected Ruleset: </p></li>
	<li>
		<select name="current_ruleset" id="current_ruleset"" x-init="init_selected({{ user.current_ruleset }})">
			<option value="1">D&D 5e SRD</option>
			{% for ruleset in user.rulesets %}
			<option value="{{ ruleset.id }}">{{ ruleset.name }}</option>
			{% endfor %}
			{% for ruleset in frulesets %}
			<option value="{{ ruleset.id }}">{{ ruleset.name }}</option>
			{% endfor %}
		</select>
	</li>
	<li><a @click="changeRuleset()">Change Rulesets</a></li>
</ul>
{% block body %}{% endblock %}
</body>
</html>
