<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="icon" type="image/x-ixon" href="{{ url_for('static', filename='images/d20.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/text.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/containers.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/markdown.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">	
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
	<script src="{{ url_for('static', filename='js/master.js') }}"></script>
	<title>{{ title }} | Wayfinder {{ cruleset.name }}</title>
	{% block head %}{% endblock %}
</head>

<body>
<ul class="nav">
	<li id="nav-home" class="nav-item"><a href="/">Home</a></li>
	<li id="nav-rules" class="dropdown nav-item">
		<a href="#" class="dropbtn">Rules</a>
		<div class="dropdown-content">
			{% for category in cruleset.categories %}
			<a href="/Rules/{{ category.name }}">{{ category.name }}</a>
			{% endfor %}
		</div>
	</li>
	<li id="nav-char" class="dropdown nav-item">
		<a href="#" class="dropbtn">Characters</a>
		<div class="dropdown-content">
			<a href="{{ url_for('epchar.races') }}">Races</a>
			<a href="{{ url_for('epchar.backgrounds') }}">Backgrounds</a>
			<a href="{{ url_for('epchar.feats') }}">Feats</a>
			<a href="{{ url_for('epchar.stats') }}">Ability Scores</a>
			<a href="{{ url_for('epchar.classes') }}">Classes</a>
		</div>
	</li>
	<li id="nav-qref" class="dropdown nav-item">
		<a href="#">Reference</a>
		<div class="dropdown-content">
			<a href="/Reference/Actions">Actions</a>
			<a href="/Reference/Conditions">Conditions</a>
			<a href="/Reference/Items">Items & Adventuring Gear</a>
			<a href="/Reference/Items/Tags">Item Types</a>
			<a href="/Reference/Items/Properties">Weapon Properties</a>
			<a href="/Reference/Languages">Languages</a>
			<a href="/Reference/Spells">Spells</a>
			<a href="/Reference/Recipes">Recipes</a>
			<a href="/Reference/Skills">Skills</a>
		</div>
	</li>
	<li id="nav-tools" class="dropdown nav-item">
		<a href="#">Tools</a>
		<div class="dropdown-content">
			<a href="/Tools/VTT">Virtual Tabletop</a>
			<a href="/Tools/NPC-Gen">NPC Generator</a>
			<a href="/Tools/Backstory-Gen">Backstory Generator</a>
			<a href="/Tools/CR-Calc">CR Calculator</a>
			<a href="/Tools/Encounter-Gen">Encounter Generator</a>
			<a href="/Tools/Loot-Gen">Loot Generator</a>
			<a href="/Tools/Stat-Gen">Stat Generator</a>
			<a href="/Tools/Backstory">Backstory Generator</a>
		</div>
	</li>
	{% if user.is_authenticated %}
		<li id="nav-account" class="dropdown nav-item nav-right">
			<a href="/My-Account">My Account</a>
			<div class="dropdown-content" style="right: 0px">
				<a href="/My-Rulesets">My Rulesets</a>
				<!-- <a href="/My-PCs">My CharacYou can speak, read, and write Common and Draconic. Draconic is thought to be one of the oldest languages and is often used in the study of magic. The language sounds harsh to most other creatures and includes numerous hard consonants and sibilants. -->
				<a href="/Logout">Log Out</a>
			</div>
		</li>
	{% else %}
		<li id="nav-login" class="nav-right">
			<a id="login-link" href="/Login">Log In</a>
		</li>
	{% endif %}
</ul>

{% with messages = get_flashed_messages(with_categories=true) %}
	{% for category, message in messages %}
		<div class="interior flex horizontal center {{ category }} bar">
			<span>{{ message }}</span>
		</div>
	{% endfor %}
{% endwith %}

<form class="topbar" x-data="master">
	<li class="static"><p>Selected Ruleset: </p></li>
	<li>
		{% if current_user.is_authenticated %}
		<select name="current_ruleset" id="current_ruleset" x-init="init_selected(`{{ cruleset.id }}`)">
		{% else %}
		<select name="current_ruleset" id="current_ruleset">
		{% endif %}
			{% for ruleset in adminrulesets %}
			<option value="{{ ruleset.id }}">{{ ruleset.name }}</option>
			{% endfor %}
			{% if current_user.username != "admin" %}
			{% for ruleset in user.rulesets %}
			<option value="{{ ruleset.id }}">{{ ruleset.name }}</option>
			{% endfor %}
			{% endif %}
			{% for ruleset in frulesets %}
			<option value="{{ ruleset.id }}">{{ ruleset.name }}</option>
			{% endfor %}
		</select>
	</li>
	<li><a @click="changeRuleset()">Change Rulesets</a></li>
</form>
{% block body %}{% endblock %}
</body>
</html>
