{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/my-rulesets.js') }}"></script>
{% endblock %}

{% block body %}
<div x-data="main">
<div class="flex">
	<div class="flex vertical start">
		<h1>My Rulesets</h1>
		<div class="inactive interior flex vertical start">
			{% for ruleset in user.rulesets %}
				<div class="inactive interior flex horizontal center">
					<h3 style="grid-column: 1 / span 8; text-decoration: underline">{{ ruleset.name }}</h3>
					<a href="{{ url_for('epmain.manageRuleset', rulesetid=ruleset.id) }}"><button>Manage</button></a>
				</div>
			<h6>Ruleset ID: {{ruleset.id}}</h6>
			<h6 style="grid-column: 1 / span 3">
				Is Shareable: 
				{% if ruleset.is_shareable %}
					Yes
				{% else %}
					No
				{% endif %}
			</h6>
			{% endfor %}
		</div>
		<a href="/Create-Ruleset"><button>Create a Ruleset</button></a>
		<h1>Shared With Me</h1>
		<div class="inactive interior flex vertical start">
			{% for ruleset in user.frulesets %}
				<div class="inactive interior flex horizontal center">
					<h3 style="grid-column: 1 / span 8; text-decoration: underline">{{ ruleset.name }}</h3>
				</div>
			<h6>Ruleset ID: {{ruleset.id}}</h6>
			<h6 style="grid-column: 1 / span 3">
				Is Shareable: 
				{% if ruleset.is_shareable %}
					Yes
				{% else %}
					No
				{% endif %}
			</h6>
			{% endfor %}
		</div>
		<a href="/Add-Ruleset"><button>Add a Friend's Ruleset</button></a>
	</div>
</div>

<div class="modal" :style="show" @click="toggle(0)"></div>
<div class="modal-alert flex vertical start" :style="show">
	<h1>Remove Ruleset?</h1>
	<p>If you remove this ruleset, you will not be able to access it again unless add it again in the futur</p>
	<p>Click the button below to confirm</p>
	<button 
		class="danger" 
		@click="confirmDelete(rulesetid)" 
		style="margin: auto; width: auto">
		Remove Ruleset
	</button>
	<a 
		style="margin: 50px auto 0px auto">
		<span class="small" @click="toggle(0)">Nevermind</span>
	</a>
</div>

</div>

{% endblock %}
