
{% extends "master.html" %}

{% block head %}
<title>Weapon Properties | Wayfinder {{ cruleset.name }}</title>
<script src="{{ url_for('static', filename='js/properties.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Weapon Properties</h1>
		{% for property in properties %}
		<div class="usercontent">
			<h2>{{ property.name }}</h2>
			<hr>
			<div x-html="convert(`{{ property.text }}`)"></div>
		</div>
		{% endfor %}
		<a href="/Reference/Items/Properties/Create"><button>Create Weapon Property</button></a>
	</div>
</div>

{% endblock %}
