{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Weapon Properties</h1>
		{% for property in properties %}
		<div class="usercontent">
			<h2>{{ property.name }}</h2>
			{% if cruleset.userid == current_user.id %}
				<div>
					<a href="/Reference/Items/Properties/Edit/{{ property.name }}"><button style="width: auto">Edit {{ property.name }}</button></a>
					<a href="/Reference/Items/Properties/Duplicate/{{ property.name }}"><button style="width: auto">Duplicate {{ property.name }}</button></a>
					<a href="/Reference/Items/Properties/Delete/{{ property.name }}"><button class="mild danger" style="width: auto">Delete {{ property.name }}</button></a>
				</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ property.text }}`)"></div>
		</div>
		{% endfor %}
		<a href="/Reference/Items/Properties/Create"><button>Create Weapon Property</button></a>
	</div>
</div>

{% endblock %}
