{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-and-hash.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Weapon Properties</h1>
		{% for property in properties %}
		<div class="usercontent">
			<h2 id="{{ property.name.casefold().replace(' ', '-') }}"><a @click="CopyHash(`{{ property.name.casefold().replace(' ', '-') }}`)">{{ property.name }} <span class="anchor">🔗</span></a></h2>
			{% if cruleset.userid == current_user.id %}
				<div>
					<a href="{{ url_for('eprefs.editProperty', ruleset=cruleset.identifier, item=property.name) }}"><button style="width: auto">Edit {{ property.name }}</button></a>
					<a href="{{ url_for('eprefs.duplicateProperty', ruleset=cruleset.identifier, item=property.name) }}"><button style="width: auto">Duplicate {{ property.name }}</button></a>
					<a href="{{ url_for('eprefs.deleteProperty', ruleset=cruleset.identifier, item=property.name) }}"><button class="mild danger" style="width: auto">Delete {{ property.name }}</button></a>
				</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ property.text }}`)"></div>
		</div>
		{% endfor %}
		<div class="interior flex horizontal center">
			{% if current_user.id == cruleset.userid %}
			<a href="{{ url_for('eprefs.createProperty', ruleset=cruleset.identifier) }}"><button>Create Weapon Property</button></a>
			<a href="{{ url_for('eprefs.importProperties', ruleset=cruleset.identifier) }}"><button>Import from JSON</button></a>
			{% endif %}
			<a href="{{ url_for('eprefs.exportProperties', ruleset=cruleset.identifier) }}" download><button>Download all as JSON</button></a>
		</div>
	</div>
</div>

{% endblock %}
