{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/races.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		{% for race in cruleset.races %}
		<template x-init="raceROM.push(
			{
				name: '{{ race.name }}',
				strasi: {{ race.strasi }},
				dexasi: {{ race.dexasi }},
				conasi: {{ race.conasi }},
				intasi: {{ race.intasi }},
				wisasi: {{ race.wisasi }},
				chaasi: {{ race.chaasi }},
				asitext: '{{ race.asi_text }}',
				size: {{ race.size }},
				sizetext: {{ race.size_text }}
			}
		)"></template>
		{% endfor %}
		<h1>Races</h1>
		<input type="text" name="tableinput" id="tableinput" placeholder="Search Races..." x-model="query">
		<div class="interior flex horizontal center" style="width: 100%">
			<form class="interior flex horizontal start" style="width: 50%; box-sizing: border-box; margin: 0px">
				<label for="ability-filter" style="box-sizing: border-box; width: 33%; min-width: 64px">Ability:</label>
				<select id="ability-filter" name="ability-filter" x-model="abilityfilter" style="width: calc(67% - 24px); min-width: 128px;" x-init="populateASI()">
					<option value="null">Select</option>
				</select>
			</form>
			<form class="interior flex horizontal start" style="width: 50%; box-sizing: border-box; margin: 0px">
				<label for="size-filter" style="box-sizing: border-box; width: 33%; min-width: 64px">Size:</label>
				<select id="size-filter" name="size-filter" x-model="sizefilter" style="width: calc(67% - 24px); min-width: 128px;" x-init="populateSize()">
					<option value="null">Select</option>
				</select>
			</form>
		</div>
		<table name="filtertable" id="filtertable">
			<tr class="header">
				<th style="width: 50%">Race Name</th>
				<th style="width: 30%">Ability</th>
				<th style="width: 20%">Size</th>
			</tr>
			<template x-for="race, index in filterQuery()">
				<tr>
					<td><a @click="window.location.href = '/Character/Race/' + race.name" x-text="race.name"></a></td>
					<td x-text="race.asi"></td>
					<td x-text="race.size"></td>
				</tr>
			</template>
		</table>
		<p>test text for reference. Loerm ipsum dolor sit amet consecteteur</p>
		{% if cruleset.userid == user.id %}
		<a href="/Character/Races/Create"><button>Create A Race</button></a>
		{% endif %}
	</div>
</div>
{% endblock %}
