{% extends "master.html" %}

{% block head %}
<title>Create Rule Category | Wayfinder</title>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start">
		<h1>Races</h1>
		<input type="text" name="tableinput" id="tableinput" onkeyup="filter()" placeholder="Search Races...">
		<table name="filtertable" id="filtertable">
			<tr class="header">
				<th style="width: 50%">Race Name</th>
				<th style="width: 30%">Ability</th>
				<th style="width: 20%">Size</th>
			</tr>
			{% for race in cruleset.races %}
			<tr>
				<td>{{ race.name }}</td>
				<td> Test </td>
				<td>
					{{ ["Tiny", "Small", "Medium", "Large", "Huge", "Gargantuan"][race.size] }}
				</td>
			</tr>
			{% endfor %}
		</table>
		<p>test text for reference. Loerm ipsum dolor sit amet consecteteur</p>
		{% if cruleset.userid == user.id %}
		<a href="/Character/Races/Create"><button>Create A Race</button></a>
		{% endif %}
	</div>
</div>
{% endblock %}
