{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/races.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		{% for ability_score in ability_scores %}
		<template x-init="namearray.push(`{{ ability_score.name }}`)"></template>
		{% endfor %}
		{% for race in races %}
		<template x-init="raceROM.push(
			{
				name: '{{ race.name }}',
				asis: {{ race.asis }},
				asitext: '{{ race.asi_text }}',
				size: {{ race.size }},
				sizetext: `{{ race.size_text }}`
			}
		)"></template>
		{% endfor %}
		<h1>Races</h1>
		<input type="text" name="tableinput" id="tableinput" placeholder="Search Races..." x-model="query">
		<div class="interior flex horizontal center" style="width: 100%">
			<form class="interior flex horizontal start" style="width: 50%; box-sizing: border-box; margin: 0px">
				<label for="ability-filter" style="box-sizing: border-box; width: 33%; min-width: 64px">Ability:</label>
				<select id="ability-filter" name="ability-filter" x-model="abilityfilter" style="width: calc(67% - 24px); min-width: 128px;">
					<option value="null">Select</option>
					<template x-for="score in namearray">
						<option x-text="score"></option>
					</template>
				</select>
			</form>
			<form class="interior flex horizontal start" style="width: 50%; box-sizing: border-box; margin: 0px">
				<label for="size-filter" style="box-sizing: border-box; width: 33%; min-width: 64px">Size:</label>
				<select id="size-filter" name="size-filter" x-model="sizefilter" style="width: calc(67% - 24px); min-width: 128px;" x-init="populateSize()">
					<option value="null">Select</option>
				</select>
			</form>
		</div>
		<table name="filtertable" id="filtertable">
			<tr class="header">
				<th style="width: 50%">Race Name</th>
				<th style="width: 30%">Ability</th>
				<th style="width: 20%">Size</th>
			</tr>
			<template x-for="race, index in filterQuery()">
				<tr>
					<td><a @click="window.location.href = '/Character/Race/' + race.name" x-text="race.name"></a></td>
					<td x-text="race.asi"></td>
					<td x-text="race.size"></td>
				</tr>
			</template>
		</table>
		{% if cruleset.userid == user.id %}
		<div class="interior flex horizontal center">
			<a href="{{ url_for('epchar.createRace', ruleset=cruleset.identifier) }}"><button>Create A Race</button></a>
			<a href="{{ url_for('epchar.importRaces', ruleset=cruleset.identifier) }}"><button>Import from JSON</button></a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
