{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/race.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex" x-data="main">
    <div class="flex vertical start">
        <h1>{{ race.name }}</h1>
        <div class="usercontent" x-html="convert(`{{ race.flavor }}`)"></div>
        {% for feature in race.race_features %}
        <div class="usercontent" x-html="convert('***{{ feature.name }}.*** ' + `{{ feature.text }}`)"></div>
        {% endfor %}
        {% if race.subraces %}
        <div class="usercontent">
            <h2>Subrace</h2>
            <hr>
            <div x-html="convert(`{{ race.subrace_flavor }}`)"></div>
        </div>
            {% for subrace in race.subraces %}
            <div class="usercontent">
                <h3>{{subrace.name}}</h3>
                <div x-html="convert(`{{ subrace.flavor }}`)"></div>
                {% for feature in subrace.subrace_features %}
                <div x-html="convert('***{{feature.name}}.*** ' + `{{ feature.text }}`)"></div>
                {% endfor %}
            </div>
            {% endfor %}
        {% endif %}
        {% if cruleset.userid == current_user.id %}
        <a href="/Character/Races/Edit/{{ race.name }}"><button type="button">Edit {{ race.name }}</button></a>
        <a href="/Character/Races/Duplicate/{{ race.name }}"><button type="button">Duplicate {{ race.name }}</button></a>
        <a href="/Character/Races/Delete/{{ race.name }}"><button type="button" class="mild danger">Delete {{ race.name }}</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}

