{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-and-hash.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Recipes</h1>
		{% for recipe in cruleset.recipes %}
		<div class="usercontent">
			<h2 id="{{ recipe.name.casefold().replace(' ', '-') }}"><a @click="CopyHash(`{{ recipe.name.casefold().replace(' ', '-') }}`)">{{ recipe.name }}</a> <span class="anchor">🔗</span></h2>
			{% if cruleset.userid == current_user.id %}
			<div>
				<a href="{{ url_for('eprefs.editRecipe', recipe=recipe.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ recipe.name }}</button></a>
				<a href="{{ url_for('eprefs.duplicateRecipe', recipe=recipe.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Duplicate {{ recipe.name }}</button></a>
				<a href="{{ url_for('eprefs.deleteRecipe', recipe=recipe.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ recipe.name }}</button></a>
				</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ recipe.text }}`)"></div>
		</div>
		{% endfor %}
		<a href="{{ url_for('eprefs.createRecipe', ruleset=cruleset.identifier) }}"><button>Create Recipe</button></a>
	</div>
</div>

{% endblock %}
