
{% extends "master.html" %}

{% block head %}
<title>Under Construction | Luke Henderson</title>
{% endblock %}

{% block body %}
<div class="wide flex">
	<div class="wide flex vertical start">
		<h1>Pinned Rules</h1>
		{% if cruleset.id == 1 %}
			<p>This is where pinned rules go when you are using custom rulesets. For the 5th Edition SRD, this page is empty. To view the rules, navigate to one of the subsections using the navbar.</p>
		{% endif %}
		{% for rule in prules %}
			<h1>{{ rule.name }}</h1>
			<p>{{ rule.text }}</p>
		{% endfor %}
		<a href="/Rules/Create"><button>Create a Rule</button></a>
	</div>
</div>

{% endblock %}
