{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
    <div class="flex vertical start" x-data="main">
        <h1>Skills</h1>
        {% for skill in cruleset.skills %}
        <div class="usercontent">
            <h2>{{ skill.name }}</h2>
			{% if cruleset.userid == current_user.id %}
				<div>
					<a href="/Reference/Skills/Edit/{{ skill.name.replace(' ', '-') }}"><button style="width: auto">Edit {{ skill.name }}</button></a>
					<a href="/Reference/Skills/Duplicate/{{ skill.name.replace(' ', '-') }}"><button style="width: auto">Duplicate {{ skill.name }}</button></a>
					<a href="/Reference/Skills/Delete/{{ skill.name.replace(' ', '-') }}"><button class="mild danger" style="width: auto">Delete {{ skill.name }}</button></a>
				</div>
			{% endif %}
            <hr>
        </div>
        <p><strong>Ability: </strong>{{ skill.ability_score }}</p>
        <div x-html="convert(`{{ skill.description }}`)" style="width: 100%; margin-bottom: 48px"></div>
        {% endfor %}
        {% if cruleset.userid == current_user.id %}
        <a href="/Reference/Skills/Create"><button>Create a Skill</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}
