{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Ability Scores</h1>
		{% for score in scores %}
		<div class="usercontent">
			<h2>{{ score.name + ' (' + score.abbr + ')' }}</h2>
			{% if cruleset.userid == current_user.id %}
				<div>
					<a href="/Character/Ability-Scores/Edit/{{ score.name.replace(' ', '-') }}"><button style="width: auto">Edit {{ score.name }}</button></a>
					<a href="/Character/Ability-Scores/Duplicate/{{ score.name.replace(' ', '-') }}"><button style="width: auto">Duplicate {{ score.name }}</button></a>
					<a href="/Character/Ability-Scores/Delete/{{ score.name.replace(' ', '-') }}"><button class="mild danger" style="width: auto">Delete {{ score.name }}</button></a>
				</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ score.text }}`)"></div>
		</div>
		{% endfor %}
		{% if cruleset.userid == current_user.id %}
		<a href="/Character/Ability-Scores/Create"><button>Create Ability Score</button></a>
		{% endif %}
	</div>
</div>
{% endblock %}