{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Ability Scores</h1>
		{% for score in scores %}
		<div class="usercontent">
			<h2>{{ score.name + ' (' + score.abbr + ')' }}</h2>
			{% if cruleset.userid == current_user.id %}
				<div>
					<a href="{{ url_for('epchar.editStat', score=score.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ score.name }}</button></a>
					<a href="{{ url_for('epchar.duplicateStat', score=score.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Duplicate {{ score.name }}</button></a>
					<a href="{{ url_for('epchar.deleteStat', score=score.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ score.name }}</button></a>
				</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ score.text }}`)"></div>
		</div>
		{% endfor %}
		{% if cruleset.userid == current_user.id %}
		<a href="{{ url_for('epchar.createStat', ruleset=cruleset.identifier) }}"><button>Create Ability Score</button></a>
		{% endif %}
	</div>
</div>
{% endblock %}