{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-and-hash.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1 id="ability-scores"><a>Ability Scores <span class="anchor">🔗</span></a></h1>
		{% for score in scores %}
		<div class="usercontent">
			<h2 id="{{ score.name.casefold().replace(' ', '-') }}"><a @click="CopyHash(`{{ score.name.casefold().replace(' ', '-') }}`)">{{ score.name + ' (' + score.abbr + ')' }} <span class="anchor">🔗</span></a></h2>
			{% if cruleset.userid == current_user.id %}
				<div>
					<a href="{{ url_for('epchar.editStat', score=score.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ score.name }}</button></a>
					<a><button style="width: auto" hx-post="{{ url_for('epchar.duplicateStat', score=score.name, ruleset=cruleset.identifier) }}" hx-swap="outerHTML">Duplicate {{ score.name }}</button></a>
					<a href="{{ url_for('epchar.deleteStat', score=score.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ score.name }}</button></a>
				</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ score.text }}`)"></div>
		</div>
		{% endfor %}
		<div class="interior flex horizontal center">
			{% if cruleset.userid == current_user.id %}
			<a href="{{ url_for('epchar.createStat', ruleset=cruleset.identifier) }}"><button>Create Ability Score</button></a>
			<a href="{{ url_for('epchar.importStats', ruleset=cruleset.identifier) }}"><button>Import from JSON</button></a>
			{% endif %}
			<a href="{{ url_for('epchar.exportStats', ruleset=cruleset.identifier) }}"><button>Download all as JSON</button></a>
		</div>
	</div>
</div>
{% endblock %}