{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/showdown-only.js') }}"></script>
{% endblock %}

{% block body %}
<div class="flex">
	<div class="flex vertical start" x-data="main">
		<h1>Item Types</h1>
		{% for tag in tags %}
		<div class="usercontent">
			<h2>{{ tag.name }}</h2>
			{% if cruleset.userid == current_user.id %}
				<div>
					<a href="{{ url_for('eprefs.editTag', item=tag.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Edit {{ tag.name }}</button></a>
					<a href="{{ url_for('eprefs.duplicateTag', item=tag.name, ruleset=cruleset.identifier) }}"><button style="width: auto">Duplicate {{ tag.name }}</button></a>
					<a href="{{ url_for('eprefs.deleteTag', item=tag.name, ruleset=cruleset.identifier) }}"><button class="mild danger" style="width: auto">Delete {{ tag.name }}</button></a>
				</div>
			{% endif %}
			<hr>
			<div x-html="convert(`{{ tag.text }}`)"></div>
		</div>
		{% endfor %}
		<div class="interior flex horizontal center">
			{% if current_user.id == cruleset.userid %}
			<a href="{{ url_for('eprefs.createTag', ruleset=cruleset.identifier) }}"><button>Create an Item Type</button></a>
			<a href="{{ url_for('eprefs.importTags', ruleset=cruleset.identifier) }}"><button>Import from JSON</button></a>
			{% endif %}
			<a href="{{ url_for('eprefs.exportTags', ruleset=cruleset.identifier) }}" download><button>Download all as JSON</button></a>
		</div>
	</div>
</div>

{% endblock %}
